@tailwind base;
@tailwind components;

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(./assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(./assets/fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url(./assets/fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(./assets/fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url(./assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url(./assets/fonts/montserrat/Montserrat-Black.ttf);
}

@tailwind utilities;

body {
  background-color: #f2f1f0;
}

.card {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
